*{
    box-sizing: border-box;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}
main{
    border: 2px solid black;
    border-radius: 30px;
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1, p{
    text-align: center;
}
h1{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 500;
}
p{
    margin: 0;
    filter:opacity(40%);
}
.steps-container{
    margin-top: 100px;
    padding-left: 50px;
} 
.steps{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-bottom: 40px;
}
.dot{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    position: relative;
}
.steps-left{
    width: 190px;
    text-align: center;
    filter:opacity(50%);
}
.steps-right{
    width: 400px;
    font-weight: 500;
}
.steps:first-of-type .dot-line{
    position: absolute;
    width: 3px;
    height: 60px;
    background-color: black;
    bottom: 10px;
    left: 8px;
}
.dot-line:not(.steps:first-of-type .dot-line){
    position: absolute;
    width: 3px;
    height: 120px;
    background-color: black;
    bottom: 10px;
    left: 8px;
}
.steps:last-of-type .dot-line{
    top: -50px;
}
button{
    background-color: black;
    color: white;
    margin: 50px 250px;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 100;
}

